.Login {
  font-size: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}
.alreadyregister {
  font-size: 15px;
}
.mat-toolbar {
  background-color: #ff4081;
  margin-bottom: 1em;
  color: white;
}
.registerbutton {
  color: white;
  
}
